.main {
  width: 100%;
  height: 300px;
}
.main .contentImage {
  width: 33%;
  height: 300px;
  float: left;
}
.main .contentImage img {
  width: 840px;
  height: 300px;
}
footer {
  width: 1240px;
  height: 270px;
  margin: 0 auto;
}
footer .footer_ul {
  float: left;
  width: 155px;
  height: 150px;
  padding: 50px 60px 50px 0;
}
footer .footer_ul li > b {
  color: #666;
}
footer .footer_ul li {
  height: 30px;
  line-height: 30px;
}
footer .footer_ul li > a {
  color: #666;
}
footer .footer_ul li > a:hover {
  color: lightblue;
}
footer div.footer_right {
  float: left;
  margin-left: 180px;
  width: 180px;
  height: 150px;
}
footer div.footer_right p {
  font-size: 12px;
  margin-top: 50px;
}
footer div.footer_right div.link_phone {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}
footer input {
  width: 165px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin-top: 15px;
  background-color: #3bd1fa;
}
div.footer_box {
  width: 1240px;
  height: 45px;
  margin: 0px auto;
}
div.footer_box .bussiness_licence {
  color: #666;
  width: 740px;
  float: left;
}
div.footer_box .messageTous {
  width: 200px;
  float: left;
  margin-left: 295px;
}
div.footer_box .messageTous i {
  display: block;
  width: 21px;
  height: 18px;
  float: left;
}
div.footer_box .messageTous .weibo,
div.footer_box .messageTous .weixin {
  margin-right: 65px;
}
div.footer_box .messageTous .weixin {
  position: relative;
}
div.footer_box .messageTous .weibo {
  background-image: url("../img/indexIcon/weibo.png");
}
div.footer_box .messageTous .weixin {
  background-image: url("../img/indexIcon/weixin1.png");
}
div.footer_box .messageTous .weixin div.secondCode {
  position: absolute;
  width: 183px;
  height: 221px;
  left: 0;
  top: -221px;
  background-image: url("../img/indexIcon/weixin2.png");
}
div.footer_box .messageTous .qq {
  background-image: url("../img/indexIcon/qq.png");
}
div.footer_box .messageTous .weibo:hover {
  background-image: url("../img/indexIcon/weibohover.png");
}
div.footer_box .messageTous .weixin:hover {
  background-image: url("../img/indexIcon/weixin1hover.png");
}
div.footer_box .messageTous .qq:hover {
  background-image: url("../img/indexIcon/qqhover.png");
}
