//Ò³ÃæÍ·²¿header
header{
  background-color:#efefef;
  width:100%;
  height:40px;
  margin:0 auto;
  >div{width:1240px;margin:0 auto;}
  .header_left,.header_right{li{float:left;height:40px;line-height: 40px;a{color:#666;font-size:12px;margin-right:40px;}}}
  .header_right{float:right}
  .header_left{float:left;}
  .header_left a:hover,.header_right a:hover{color:#00c3f5;}
}
nav{
 width:100%;border-bottom: 1px solid #CCCCCC;opacity:0.7;
  div.nav{ width:1240px;
    height:80px;
    margin:0px auto;
    .store_logo{float:left;margin:30px 0;}
    .logo_right{margin-left:150px;float:left;>ul>li{float:left;height:80px;line-height: 80px;>a{color:#222;font-size:16px;padding:0px 20px;}>a:hover{color:#00c3f5;}}}
  }
}
.main{width:1240px;margin:15px auto;height:14350px;
  .main_header{height:40px;
    li{float:left;margin-top: 10px;color:#333;
      a{
        opacity:0.8;
      }}
  }
  .main_row{width:1240px;height:700px;
    .main_row_left{width:495px;height:536px;float:left;
      .bgPicList{width:375px;height:375px;overflow: hidden;margin:0px 60px;
            .bgPicImg{width:375px;height:375px;float:left;img{width:375px;height:375px;}}
        }
      .sPicList{width:495px;height:91px;margin:0px 52px;
          .sPicImg{width:87px;height:87px;float:left;margin:0 5px;

            img{width:75px;height:75px;margin:5px;}
          }
      }
    }
    .main_row_right{width:675px;height:700px;float:left;margin-left:66px; color:#333;
      h1{font-size:24px;color:#000;margin-bottom:10px;line-height: 1.2;}
      .row_right_p1{font-size:16px;color:#e22841;margin-bottom:10px;}
      .row_right_price{height:55px;background-color:#f5f5f5;vertical-align: middle;
        line-height:55px;
          span{color:#e22841;font-size:24px;}
      }
      .property-set{width:675px;height:222px;margin-top:10px;border-bottom: 1px solid #cccccc;
        #setcolor{.propety-setSpan{padding:8px 5px;}
        img{width:32px;height:32px;vertical-align: middle;   }}
        .property-setItem{color:#333;font-size:12px;line-height: 44px;width:675px;height:44px;margin-bottom: 10px;
          .propety-setSpan{font-size:14px;border-radius: 5px;padding:8px 12px;cursor:pointer;}
        }
      }
      .support_serve{width:675px;height:101px;margin-top:10px;border-bottom:1px solid #cccccc;
        span{margin-right:15px;height:44px;line-height: 44px;img{vertical-align: middle;margin-right:5px;}}
      }
      .shopCar{padding-top:30px;width:675px;height:105px;position:relative;
        input{width:53px; height:38px;border:1px solid #e5e5e5;color:#333;font-size:18px;text-align: center;}
        a.addF,a.deleteF{width:20px;height:16px;border:1px solid #e5e5e5;display: block;position: absolute;
          width: 20px;height: 16px;left: 128px;text-align: center;line-height: 16px;}
        a.addF{
          top: 31px;
          }
        a.deleteF{
          top:52px;
        }
        a.shopCar_button{width:130px;height:40px;border:1px solid #12bdf5;padding:10px 37px;margin-left:50px;background-color:#2ac4f6;border-radius:5px;}
        a.sCang{width:49px;height:40px;padding:10px 0px;margin-left:30px;line-height: 40px;img{vertical-align: middle;margin-right: 10px;}}
        .sCangSpan:hover{color:#00c3f5;cursor: pointer;}
        p.shopCar_other{margin-top:15px;font-size:12px;
          cursor: pointer;
            span.shopCar-otherSpan{height:32px;margin-right:10px;img{width:32px;height:32px;}}
        }
      }
    }
  }
  .productIntroduce{width:1240px;height:61px;
    .product_ul{width:1240px;height:61px;border-bottom: 1px solid #cccccc;
      .product_li{width:104px;height:61px;margin-right:20px;float:left;
          a{width:104px;height:61px;padding:0 20px;line-height: 62px;font-size:16px;color:#333;}
          a:hover{color:#00c3f5;}
      }
    }
  }
}
div.footer{width:100%;
  .footer_icon{width:1240px;height:136px;border-bottom:1px solid #e5e5e5;margin:0 auto;ul{width:1240px;height:90px;margin:23px 0;}
    li{width:203px;height:90px;float:left;border-right:1px solid #e5e5e5;
      i{
        display:block;width:36px;height:36px;margin:20px 83px;
      }
      i.foot_iconSeven{background:url("../img/indexIcon/footer_iconSeven.png") no-repeat 0 0}
      i.foot_iconFif{background:url("../img/indexIcon/footer_iconFif.png") no-repeat 0 0}
      i.foot_iconOne{background:url("../img/indexIcon/footer_iconOne.png") no-repeat 0 0}
      i.foot_iconSpeed{background:url("../img/indexIcon/footer_iconSpeed.png") no-repeat 0 0}
      i.foot_iconEmail{background:url("../img/indexIcon/footer_iconEmail.png") no-repeat 0 0}
      i.foot_iconMap{background:url("../img/indexIcon/footer_iconMap.png") no-repeat 0 0}
      p{text-align: center;b{margin-right:5px;}color:#333;}
    }
    li.footer_noRightBorder{border-right:none;}
  }
  .footer_link{border-bottom:1px solid #e5e5e5;width:1240px;height:270px;margin:0 auto;.footer_ul{float:left;width:155px;height:150px;padding:50px 60px 50px 0;li>b{color:#666;}li{height:30px;line-height: 30px;>a{color:#666;}>a:hover{color:lightblue;}}}
    div.footer_right{float:left;margin-left:180px;width:180px;height:150px;p{font-size:12px;margin-top:50px;}div.link_phone{font-size:24px;font-weight:600;margin-top:25px;}}
    input{
      width: 165px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      margin-top: 15px;
      background-color:#00a7ea;
      border-radius: 2px;
    }}
  div.footer_about{
    width:1240px;
    height:45px;
    margin:15px auto;
    .bussiness_licence{
      color:#666;
      width:740px;
      float:left;
    }
    .messageTous{  width:200px;
      float:left;margin-left:295px;i{display:block;width:21px;height:18px;float:left;
    }.weibo,.weixin{margin-right: 65px;}.weixin{position:relative;}.weibo{background-image: url("../img/indexIcon/weibo.png")}
      .weixin{background-image:url("../img/indexIcon/weixin1.png");div.secondCode{
        position:absolute;width:183px;height:221px;
        left:0;top:-221px;background-image: url("../img/indexIcon/weixin2.png");display:none;}}
      .qq{background-image:url("../img/indexIcon/qq.png") ;}
      .weibo:hover{background-image: url("../img/indexIcon/weibohover.png")}
      .weixin:hover{background-image:url("../img/indexIcon/weixin1hover.png");div.secondCode{display:block;}}
      .qq:hover{background-image:url("../img/indexIcon/qqhover.png")}
    }
  }
}
.imgBorder{border:1px solid #CCCCCC;}
.propertySetBorder1{border: 1px solid #cccccc;}
.propertySetBorder{border:1px solid #00c3f5;}
.product_active{border-bottom:2px solid #00c3f5;}